* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  font-family: "Figtree", Helvetica, Arial, sans-serif;
}

html {
  padding: 0;
  margin: 0;
}

@layer components {
  .text-2xs {
    font-size: 0.65rem;
  }
  .text-3xs {
    font-size: 0.55rem;
  }
}

html {
  scroll-behavior: smooth;
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  margin: 0;
  min-height: 100vh;
  /* overflow: hidden; */
  transform: translateY(20px);
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 0.2s;
}

p {
  letter-spacing: 0.025em;
  line-height: 1.5rem; /* 20px */
}

h1 {
  line-height: 1.1;
}

h2 {
  line-height: 0.8;
}

hr {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

button {
  cursor: pointer;
  background-color: rgb(12 74 110);
  border: 1px solid rgb(12 74 110);
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.06);
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.hover-underline-animation {
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: rgb(56 189 248);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation-parent:hover {
  .hover-underline-animation::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

@keyframes PopUpAnimation {
  0% {
    transform: scale(0) translateY(-10px);
  }
  20% {
    opacity: 0.5;
    transform: scale(0.5) translateY(-10px);
  }
  50% {
    opacity: 1;
    transform: scale(1.1) translateY(-10px);
  }
  60% {
    opacity: 1;
    transform: scale(0.9) translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }
}

@keyframes PopUpAnimationEmpty {
  0% {
    transform: scale(0);
  }
  20% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  60% {
    opacity: 1;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.wall {
  box-shadow: 0 0 #d9d9d9, 0 0px #d9d9d9, 0 1px #d9d9d9, 0 2px #d9d9d9,
    0 3px #d9d9d9, 0 4px #d9d9d9, 0 5px #d9d9d9, 0 6px #d9d9d9, 0 7px #d9d9d9,
    0 8px #d9d9d9, 0 9px #d9d9d9, 0 10px #d9d9d9, 0 11px #d9d9d9, 0 12px #d9d9d9,
    0px 5px 2px #adb5bd, 0px 14px 2px #adb5bd;
  background-color: #fff;
  border-color: #e6e6e6;
  backface-visibility: hidden;
  border-radius: 0.2rem;
  display: inline-block;
  transform: translateY(-10px);
}

.final-path {
  box-shadow: 0 0 rgb(11, 94, 26), 0 0px rgb(11, 94, 26), 0 1px rgb(11, 94, 26),
    0 2px rgb(11, 94, 26), 0 3px rgb(11, 94, 26), 0 4px rgb(11, 94, 26),
    0 5px rgb(11, 94, 26), 0 6px rgb(11, 94, 26), 0 7px rgb(11, 94, 26),
    0 8px rgb(11, 94, 26), 0 9px rgb(11, 94, 26), 0 10px rgb(11, 94, 26),
    0 11px rgb(11, 94, 26), 0 12px rgb(11, 94, 26), 0px 5px 2px rgb(11, 94, 26),
    0px 14px 2px rgb(11, 94, 26);
  background-color: rgb(0, 143, 26);
  border-color: rgb(0, 143, 26);
  backface-visibility: hidden;
  border-radius: 0.25rem;
  display: inline-block;
  transform: translateY(-10px);
}

.empty {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.2),
    inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

.popUpPath{
  animation: PopUpAnimationEmpty ease 0.45s;
  transition: all .25s cubic-bezier(0.2, 1, 0.2, 1);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.popUpWall{
  transform: translateY(-10px);
  animation: PopUpAnimation ease 0.45s;
  transition: all .25s cubic-bezier(0.2, 1, 0.2, 1);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
